/****** MAX ******/
/*** Max-width 389 ***/
@media (max-width: 389px) {
  h2 {
    font-size: 30px;
  }

  .together__desc,
  .together__desc a,
  .footer__list_bottom .footer__item {
    font-size: 12px;
  }
  .together__desc,
  .together__desc a {
    word-break: break-word;
  }
}

/*** Max-width 575 ***/
@media (max-width: 575px) {
  .footer__list_bottom .footer__item {
    word-break: break-word;
  }
}

/*** Max-width 767 ***/
@media (max-width: 767px) {
  .objects-page-info__desc-item {
    margin-bottom: 20px;
  }
}

/****** MIN ******/
@media (any-hover: hover) {
  .btn:hover {
    background-color: #c5c5c5;
    border: 1px solid var(--white);
  }

  .btn--bg:hover {
    background-color: var(--white);
    border-color: var(--green);
    color: var(--green);
  }
}

/*** Min-width 768 ***/
@media (min-width: 768px) {
  .inner-container {
    padding: 0 10px;
  }

  .discounts__inner-wrapper {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .discounts__feature-wrapper {
    width: 66.66%;
  }

  .discount-list__content {
    gap: 30px;
  }

  .discounts__feature {
    padding-left: 30px;
    padding-right: 30px;
  }

  .discounts__feature-title {
    font-size: 28px;
  }

  .discount-list__item {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .discount-list__title,
  .discount-list__price {
    flex: 0 0 23.3%;
  }

  .discount-list__text {
    flex: 0 0 calc(53.4% - 60px);
  }

  .discounts__btns {
    width: 33.33%;
    margin-left: auto;
  }

  .unique-offers {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .unique-offers__desc-item {
    flex: 0 0 33.33%;
  }

  .unique-offers__desc-item:last-child {
    margin-left: auto;
  }

  .walls__desc {
    width: 66.66%;
  }

  .equipments-page-info__content {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .equipments-page-info__desc {
    width: 66.66%;
    margin-left: auto;
  }

  .equipment__image {
    height: 400px;
  }

  .equipment__title {
    font-size: 36px;
  }

  .equipment__price {
    margin-bottom: 40px;
    font-size: 32px;
  }

  .objects-page-info {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .object-section {
    padding-bottom: 80px;
  }

  .object-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .object-list__title,
  .object-list__text {
    margin-bottom: 15px;
  }

  .object-list__title {
    font-size: 36px;
  }

  .object-list__image {
    height: 430px;
  }

  .objects-page-info__desc {
    display: flex;
    flex-wrap: wrap;
  }

  .objects-page-info__desc-item {
    width: 33.33%;
  }

  .objects-page-info__desc-item:nth-child(2) {
    margin-left: 33.33%;
  }
}

/*** Min-width 768 and Min-width 1199 ***/
@media (min-width: 768px) and (max-width: 1199px) {
  .equipment__desc {
    display: flex;
    flex-wrap: wrap;
  }

  .equipment__title,
  .equipment__price {
    flex: 1 1 100%;
  }

  .equipment__text,
  .equipment__btn {
    flex: 0 0 33.33%;
  }

  .equipment__text {
    margin: 0;
  }

  .equipment__btn {
    margin-left: auto;
  }
}

/*** Max-width 1199 ***/
@media (max-width: 1199px) {
  .equipment__image {
    margin-bottom: 20px;
  }
}

/*** Min-width 1200 ***/
@media (min-width: 1200px) {
  .section-title {
    margin-bottom: 60px;
  }

  .unique-offers {
    padding-top: 120px;
  }

  .unique-offers__desc-item {
    flex: 0 0 25%;
  }

  .unique-offers__desc-item:last-child {
    margin-left: 25%;
  }

  .discounts__inner-wrapper {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .discounts__content {
    display: flex;
    flex-wrap: wrap
  }

  .discounts__feature {
    padding: 20px;
  }

  .discounts__feature-title {
    font-size: 30px;
  }

  .discounts__feature-wrapper {
    width: 25%;
  }

  .discounts__value {
    flex: 1 0 100%;
    order: -1;
    margin-top: -50px;
    margin-bottom: 60px;
  }

  .discounts__list {
    width: 75%;
  }

  .discounts__btns {
    width: 25%;
  }

  .walls__desc,
  .equipment__image,
  .equipment__desc,
  .equipment__btn {
    width: 50%;
  }

  .equipment {
    display: flex;
  }

  .equipment__image {
    height: 320px;
  }

  .equipment__text {
    margin: 40px 0;
  }

  .equipment__btn {
    margin-left: auto;
  }

  .equipments-page-info__content {
    padding-top: 120px;
  }

  .equipments-page-info__desc {
    width: 50%;
  }

  .objects-page-info {
    padding-top: 100px;
  }

  .objects-page-info .section-title {
    margin-left: 25%;
  }

  .objects-page-info__desc-item {
    width: 25%;
  }

  .objects-page-info__desc-item:nth-child(2) {
    margin-left: 25%;
  }

  .objects-page-info__desc .discounts__btns {
    margin-left: 50%;
  }

  .object-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .object-list__item {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .object-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .object-list__image {
    margin-top: auto;
    height: 340px;
  }
}

/*** Min-width 1920 ***/
@media (min-width: 1920px) {
  p {
    font-size: 24px;
    line-height: 1.16;
  }

  .btn {
    height: 120px;
    font-size: 24px;
  }

  .inner-container {
    padding: 0 20px;
  }

  .discounts__inner-wrapper {
    padding-top: 100px;
  }

  .unique-offers {
    padding-top: 160px;
    padding-bottom: 140px;
  }

  .discounts__value {
    margin-top: -40px;
    margin-bottom: 80px;
  }

  .discounts__feature {
    padding: 30px;
  }

  .discounts__feature-title {
    font-size: 48px;
  }

  .discounts__feature-text {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .discount-list__title,
  .discount-list__price,
  .discount-list__text {
    flex: 1 1 calc(33.33% - 30px);
  }

  .walls__list {
    row-gap: 40px;
  }

  .equipments-page-info__content {
    padding-bottom: 120px;
  }

  .equipment__image {
    height: 427px;
  }

  .equipment__title {
    font-size: 48px;
  }

  .equipment__price {
    font-size: 50px;
  }

  .equipments-list__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .objects-page-info {
    padding-top: 120px;
    padding-bottom: 240px;
  }

  .object-list {
    row-gap: 50px;
  }

  .object-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .object-list__title {
    font-size: 58px;
  }

  .object-list__title,
  .object-list__text {
    margin-bottom: 20px;
  }

  .object-list__image {
    height: 420px;
  }
}
