:root {
  --inc-step: 1;
  --height: 100vh;
  --circle: 100%;
  --border: rgba(215, 215, 215, 1);
  --dborder: rgba(72, 72, 72, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --green: rgba(72, 98, 12, 1);
  --lgreen: rgba(147, 198, 30, 1);
  --dgreen: rgba(45, 63, 5, 1);
  --gray: rgba(144, 144, 144, 1);
  --dgray: rgba(28, 28, 28, 1);
  --back: rgba(46, 46, 46, 1);
  --error: #d91717;
  --font: 'Manrope', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  -webkit-tap-highlight-color: transparent;
}

*::-moz-selection {
  background-color: var(--black);
  color: var(--white);
}

*::selection {
  background-color: var(--black);
  color: var(--white);
}

input::-moz-selection {
  background-color: yellow;
  color: var(--black);
}

input::selection {
  background-color: yellow;
  color: var(--black);
}

*::marker {
  font-size: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--dblue);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: var(--green);
}

html body.loaded {
  height: var(--height);
  position: relative;
  background: var(--white);
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body,
.has-scroll-smooth body,
.has-scroll-smooth body.loaded {
  height: 100%;
  position: relative;
  background: var(--white);
  overflow: hidden;
  scroll-behavior: auto;
}

section {
  margin: -1px 0 0;
  position: relative;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover,
input {
  font-family: var(--font);
  border: none;
  border-bottom: 1px solid var(--white);
  outline: none;
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  color: var(--white);
  background: transparent;
}

a {
  color: var(--black);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--lgreen);
  text-decoration: none;
}

h1,
p {
  margin: 0;
}

h2 {
  font-size: 130px;
  font-weight: 600;
  line-height: 120px;
  letter-spacing: -0.05em;
  color: var(--black);
}

h2 span {
  color: var(--green);
}

button,
button:hover {
  outline: 0;
  border: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
}

svg path {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1880px;
  margin: 0 auto;
  padding: 0 20px;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: var(--black);
  visibility: hidden;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear, z-index 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear, z-index 0.3s linear;
  -webkit-transition-delay: 0.3s, 0s, 0.3s, 0.3s;
  transition-delay: 0.3s, 0s, 0.3s, 0.3s;
}

.overlay {
  z-index: 99;
}

.overlay.active {
  opacity: 0.7;
  background-color: var(--black);
  visibility: visible;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;
  transition-delay: 0s, 0s, 0s, 0s;
}

.border {
  width: calc(100% - 80px);
  height: 100%;
  max-width: 1840px;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.border span {
  display: block;
  width: 1.6px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.border.border__gray span {
  background-color: var(--border);
}

.border.border__dgray span {
  background-color: var(--dborder);
}

.border.border__green span {
  background-color: var(--green);
}

.border span:nth-child(1) {
  left: 0;
}

.border span:nth-child(2) {
  left: 25%;
}

.border span:nth-child(3) {
  left: 50%;
}

.border span:nth-child(4) {
  left: 75%;
}

.border span:nth-child(5) {
  left: 100%;
}

/* start buttons */

.button__default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  max-width: 450px;
  padding: 40px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: var(--white);
  border: 1.6px solid var(--green);
  background-color: var(--green);
  position: relative;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, border 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, border 0.2s linear;
}

.button__default:hover {
  color: var(--green);
  background-color: var(--lgreen);
  border: 1.6px solid var(--green);
}

.button__hero {
  border: 1.6px solid var(--white);
  background-color: rgba(255, 255, 255, 0.1);
}

.button__hero:hover {
  color: var(--white);
  border: 1.6px solid var(--white);
  background-color: var(--green);
}

/* end buttons */

/* start header */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  padding: 40px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.header__link {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  color: var(--white);
}

.header__link span {
  color: var(--white);
}

.header__login,
.header__cart,
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.header__logo {
  width: 45px;
  height: 52px;
}

.header__cart svg {
  width: 40px;
  height: 40px;
}

.header__login svg {
  width: 40px;
  height: 40px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header__burger {
  display: block;
  position: relative;
  overflow: hidden;
  width: 52px;
  height: 52px;
 }

.header__burger span {
  display: block;
  width: 38px;
  height: 1.2px;
  position: absolute;
  top: 26px;
  right: 0;
  background-color: var(--white);
  -webkit-transition: background-color 0s 0.3s;
  transition: background-color 0s 0.3s;
}

.header__burger.active span {
  background-color: transparent;
}

.header__burger span::before,
.header__burger span::after {
  content: "";
  display: block;
  width: 52px;
  height: 1.2px;
  position: absolute;
  left: -14px;
  background-color: var(--white);
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

.header__burger.active span::before,
.header__burger.active span::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

.header__burger span::before {
  top: -9px;
  -webkit-transition-property: top, transform;
  transition-property: top, transform;
}

.header__burger.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__burger span::after {
  bottom: -9px;
  -webkit-transition-property: bottom, transform;
  transition-property: bottom, transform;
}

.header__burger.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* end header */

/* start header__nav */

.header__nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 210px 20px 80px;
  flex-direction: column;
  justify-content: center;
  gap: 80px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: var(--height);
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--dgreen);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  overflow-x: hidden;
}

.header__nav.active {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.header__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 0;
}

.header__nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.333%;
  padding: 0 20px;
  flex-direction: column;
  gap: 20px 0;
}

.header__nav_heading {
  font-size: 56px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -0.05em;
  color: var(--white);
}

.header__nav_sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.header__nav_head {
  font-size: 30px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: -0.05em;
  color: var(--white);
}

.header__nav_subhead {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.65);
}

/* end header__nav */

/* start footer */

.footer {
  position: relative;
  background-color: var(--dgray);
}

.footer__list_container {
  padding: 0 20px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.footer__list_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 0 0 auto;
  padding: 60px 0;
  flex-wrap: wrap;
  gap: 20px 0;
}

.footer__list_top .footer__item {
  width: 50%;
  padding: 0 20px;
}

.footer__list_top .footer__link {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.65);
}

.footer__link:hover,
.footer__list_bottom .footer__link:hover {
  color: var(--lgreen);
}

.footer__list_bottom {
  border-top: 1px solid var(--dborder);
}

.footer__list_bottom .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding: 120px 20px;
  align-items: flex-end;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.4);
}

.footer__list_bottom .footer__link {
  color: rgba(255, 255, 255, 0.4);
}

/* end footer */

/* start hero */

.hero {
  position: relative;
  overflow: hidden;
}

.hero__container {
  padding: 220px 40px 80px;
}

.hero__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__image span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero__image img,
.hero__image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 60px;
}

.hero__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 130px;
  font-weight: 600;
  line-height: 120px;
  color: var(--white);
}

.hero__head span {
  margin: 0 0 0 auto;
}

.hero__head span:nth-child(1) {
  width: 92%;
}

.hero__head span:nth-child(2) {
  width: 72%;
}

.hero__head span:nth-child(3) {
  width: 82%;
  color: var(--lgreen);
}

.hero__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__desc_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
}

.hero__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  margin: 0 0 0 auto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: var(--white);
}

.hero__desc_block:first-child {
  width: 100%;
  max-width: 940px;
}

.hero__desc_block:first-child p {
  max-width: 430px;
}

.hero__desc_block:last-child p {
  max-width: 320px;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  margin: 0 0 0 auto;
  flex-wrap: wrap;
  gap: 40px;
}

/* end hero */

/* start best */

.best__container {
  padding: 120px 20px 60px;
}

.best__heading {
  padding: 0 20px;
}

.best__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 60px 0 70px auto;
  flex-direction: column;
  gap: 60px;
}

.best__desc {
  width: 50%;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.65);
}

.best__head {
  max-width: 580px;
  padding: 0 20px;
  font-size: 58px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.05em;
  color: var(--black);
}

.best__sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.best__slider_left,
.best__slider_right {
  width: 50%;
  padding: 0 20px;
  position: relative;
}

.best__block,
.best__thumbs_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 420px;
  object-fit: cover;
  overflow: hidden;
}

.best__thumbs_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.best__thumbs_image {
  position: relative;
}

.best__thumbs_desc {
  max-width: calc(100% - 80px);
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--white);
  text-align: right;
}

.best__number {
  max-width: calc(100% - 80px);
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 50px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.05em;
  color: var(--white);
}

.best__thumbs_info {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.65);
}

.best__prev,
.best__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 60px;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  top: 420px;
  bottom: auto;
  color: var(--black);
  background: transparent;
  background-color: transparent;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.best__prev:hover,
.best__next:hover {
  color: var(--lgreen);
}

.best__prev {
  left: 20px;
  right: auto;
}

.best__prev svg,
.best__next svg {
  display: inline-block;
  width: 65px;
  height: 12px;
}

.best__next {
  left: 100px;
  right: auto;
}

/* end best */

/* start reliable */

.reliable__block,
.spectrum__block,
.working__block {
  padding: 60px 0;
}

.reliable__heading,
.spectrum__heading,
.working__heading {
  max-width: 75%;
  margin: 0 0 60px auto;
  padding: 0 20px;
  text-align: right;
}

.reliable__list,
.spectrum__list,
.working__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
}

.reliable__item,
.spectrum__item,
.working__item {
  width: 25%;
  padding: 0 20px;
}

.reliable__link,
.spectrum__link,
.working__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: var(--circle);
  padding: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  shape-outside: circle(50%);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.05em;
  color: var(--black);
  border: 1px solid var(--border);
  border-radius: 100%;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-transition: background-color 0.2s linear, color 0.1s linear;
  transition: background-color 0.2s linear, color 0.1s linear;
}

.reliable__link:hover,
.spectrum__link:hover,
.working__link:hover {
  color: var(--white);
  background-color: var(--lgreen);
}

/* end reliable */

/* start orderclick */

.orderclick__block {
  padding: 60px 0;
}

.orderclick__image {
  width: 75%;
  margin: 0 0 60px auto;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

.orderclick__image img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.orderclick__image span {
  display: block;
  width: calc(100% - 40px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(326.87deg, rgba(149, 129, 105, 0.3) 27.63%, rgba(72, 98, 12, 0.3) 96.97%);
}

.orderclick__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.orderclick__item {
  width: 25%;
  padding: 0 20px;
}

.orderclick__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 60px;
}

.orderclick__buy {
  max-width: 710px;
  font-size: 74px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: -0.05em;
  color: var(--black);
}

.orderclick__desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: var(--black);
}

/* end orderclick */

/* start spectrum */

.spectrum__heading {
  margin: 0 auto 60px 0;
  text-align: left;
}

.spectrum__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 0;
  justify-content: space-between;
  align-items: flex-end;
}

.spectrum__desc {
  width: 25%;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}

.spectrum__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 0 20px;
}

.spectrum__image img {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

/* end spectrum */

/* start rent */

.rent__block {
  padding: 60px 0;
}

.rent__heading {
  max-width: 75%;
  padding: 0 20px;
  margin: 0 0 0 auto;
  text-align: right;
}

.rent__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0 0;
  flex-wrap: wrap;
  gap: 50px 0;
}

.rent__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding: 0 20px;
  flex-direction: column;
  gap: 30px;
}

.rent__item:last-child {
  width: 50%;
}

.rent__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
}

.rent__order {
  font-size: 74px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: -0.05em;
  color: var(--black);
}

.rent__buttons,
.rent__flex svg {
  width: 50%;
}

.rent__number {
  font-size: 50px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: -0.05em;
  color: var(--gray);
}

.rent__head {
  font-size: 58px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.05em;
  color: var(--black);
}

.rent__desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.65);
}

/* end rent */

/* start working */

.working__heading {
  margin: 0px 0px 120px auto;
}

.working__link {
  flex-direction: column;
  gap: 30px;
}

.working__item:nth-child(1n) .working__link {
  background-color: rgba(72, 98, 12, 0.65);
}

.working__item:nth-child(2n) .working__link {
  background-color: rgba(72, 98, 12, 0.7);
}

.working__item:nth-child(3n) .working__link {
  background-color: rgba(72, 98, 12, 0.8);
}

.working__item:nth-child(4n) .working__link {
  background-color: rgba(72, 98, 12, 0.9);
}

.working__item .working__link:hover {
  background-color: var(--lgreen);
}

.working__head {
  font-size: 50px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.05em;
  color: var(--white);
}

.working__desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--white);
}

/* end working */

/* start partner */

.partner__block {
  padding: 60px 0 120px;
}

.partner__heading {
  max-width: 85%;
  padding: 0 20px;
}

.partner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0 60px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.partner__item {
  width: 25%;
}

.partner__item:first-child {
  width: 50%;
}

.partner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  gap: 25px;
}

.partner__item:first-child .partner__info {
  width: 50%;
}

.partner__head {
  font-size: 58px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.05em;
  color: var(--black);
}

.partner__desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: var(--black);
}

.partner__bottom {
  max-width: 50%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.partner__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 420px;
}

.partner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partner__prev,
.partner__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 60px;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  top: 420px;
  bottom: auto;
  color: var(--black);
  background: transparent;
  background-color: transparent;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.partner__next {
  left: 100px;
  right: auto;
}

.partner__prev {
  left: 20px;
  right: auto;
}

.partner__prev:hover,
.partner__next:hover {
  color: var(--lgreen);
}

.partner__prev svg,
.partner__next svg {
  display: inline-block;
  width: 65px;
  height: 12px;
}

/* end partner */

/* start together */

.together {
  background-color: var(--back);
}

.together__block {
  padding: 120px 0 60px;
}

.together__heading {
  max-width: 85%;
  padding: 0 20px;
  color: var(--white);
}

.together__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  padding: 120px 0 60px;
  margin: 0 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 0;
}

.together__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.333%;
  padding: 0 20px;
  flex-direction: column;
  gap: 30px;
}

.together__head {
  font-size: 48px;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: -0.05em;
  color: var(--white);
}

.together__desc,
.together__desc a {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.65);
}

.together__desc a:hover {
  color: var(--lgreen);
}

/* end together */

/* start map */

.map {
  background-color: var(--back);
}

.map__block {
  padding: 60px 0 0;
}

.map__heading {
  max-width: 85%;
  padding: 0 20px;
  color: var(--white);
}

.map__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  padding: 60px 0;
  margin: 0 auto 0 0;
  flex-wrap: wrap;
  gap: 20px 0;
}

.map__item {
  width: 33.333%;
  padding: 0 20px;
}

.map__link {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.65);
}

.map__link.active {
  color: var(--lgreen);
}

.map__yandex {
  width: 100%;
  height: 960px;
  position: relative;
  z-index: 2;
}

.map__point {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: -30px;
  border: 1px solid var(--green);
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.8);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
}

.map__point.map__active {
  background-color: rgba(147, 198, 30, 0.6);
}

.map__icon {
  position: absolute;
  top: 10px;
  left: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 1;
}

.map__active .map__icon svg path {
  fill: var(--white);
}

.map__point_block {
  display: none;
  position: relative;
  width: 225px;
  height: 50px;
  left: 25px;
  top: -115px;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  background-color: rgb(0, 21, 35, 0.8);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.map__active .map__point_block {
  display: block;
}

.map__point_temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.map__point_temp:before {
  content: '';
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  border-right: 15px solid rgb(0, 21, 35, 0.8);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.map__zoom {
  position: absolute;
  top: 50%;
  right: 100px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.map__zoom_plus,
.map__zoom_minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 90px;
  margin: 0 0 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.map__zoom_plus svg,
.map__zoom_minus svg {
  width: 24px;
  height: 24px;
}

.map__zoom_plus svg path,
.map__zoom_minus svg path {
  fill: var(--green);
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.map__zoom_plus:hover,
.map__zoom_minus:hover {
  background-color: var(--lgreen);
}

.map__zoom_plus:hover svg path,
.map__zoom_minus:hover svg path {
  fill: var(--white);
}

/* end map */